body {
    padding: 10px;
}
#listing_page {
    background-color: rgb(195, 222, 231);
    padding: 35px;
}
#listing_short_box {
    border: 1px solid lightblue; 
    background-color: rgb(195, 222, 231);
    margin-bottom: 20px;
    margin-top: 20px;
}
#image {
    margin-top: 12px;
}
#listing_info {
    margin-top: 30px;
    background-color: rgb(195, 222, 231);
}
#listing_info_boxes {
    margin-top: 20px
}
#listing_info_page {
    margin-top: 30px;
}