{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Create New Listing</h2>

        {% if message %}
            {{ message }}
        {% else %}
            <form class="" action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create Listing" class="btn-primary">
            </form>
        {% endif %}
        
    </div>
{% endblock %}