{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    
    {% if listing.active %}
        <div class="container" id="listing_page">

            {% if user.is_authenticated %}
                <a href="{% url 'watchlistadd' listing.id %}" role="button" class="btn btn-outline-success btn-sm">Add to Watchlist</a>
                <a href="{% url 'watchlistremove' listing.id %}" role="button" class="btn btn-outline-success btn-sm">Remove from Watchlist</a>

                {% if listing.author == request.user %}
                    <a href="{% url 'close_listing' listing.id %}" role="button" class="btn btn-outline-danger btn-sm float-right">Close Listing</a>
                {% endif %}
            {% else %}
                <button disabled class="btn btn-outline-success btn-sm">Sign in to add to watchlist</button>
            {% endif %}
            
            <h2 class="text-center"><small>Listing: </small>{{ listing.title }}</h2>
            <hr>
            
            <div class="row text-center" id="listing_info_page">
                <div class="col-sm-6" id="listing_info_boxes">
                    <img alt="Qries" src="{{ listing.picture_URL }}" width=150" height="150">
                    <p><b>{{ listing.description }}</b></p>
                </div>

                <div class="col-sm-5" id="listing_info_boxes">
                    <li class="list-group-item">Start Bid: £{{listing.start_bit}}</li>

                    {% if listing.last_bid %}
                        <li class="list-group-item">Current Bid: £{{listing.last_bid.bid}}</li>
                    {% else %}
                        <li class="list-group-item">Initial Bid: £{{listing.start_bit}}</li>
                    {% endif %}

                    <li class="list-group-item">Published: {{ listing.published_date }}{% if time_now %}<br>
                    <small>- {{ time_now|timeuntil:listing.created_date }} ago -</small>{% endif %}</li>

                    {% if user.is_authenticated %}
                        <form action="{% url 'bid' listing.id %}" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Place Bid" class="btn-primary">
                        </form>
                    {% else %}
                        <button disabled class="btn-primary">Sign in to bet</button>
                    {% endif %}
                </div>
            </div>

            <h2>Details: </h2>
            <ul>
                <li>Seller: {{ listing.author }}</li>
                <li>Category: {{ listing.category }}</li>
            </ul>
            {% if comments %}
            <h2>Comments: </h2>
            <ul>
            {% for comment in comments %}
                <li><h5>'{{ comment }}'</h5><p>Made by <b>{{ comment.user}}</b><small> Date: {{ comment.date }}</small></p></li>
            {% endfor %}
            </ul>
            {% endif %}
            
            {% if user.is_authenticated %}
                <form action="{% url 'comment' listing.id %}" method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" value="Save Comment" class="btn-primary">
                </form>
            {% else %}
                <button class="btn-primary" disabled>Sign in to comment</button>
            {% endif %}

        </div>
        
        {% else %}

        {% if not listing.active %}
            <div class="text-center">
                {% if listing.winner == user %}
                    <h3>The listing is no more active and has been won by <b>YOU</b>!</h3>
                {% elif not listing.winner %}
                    <h3>The listing is no more active.</h3>
                {% else %}
                    <h3>The listing is no more active and has been won by <b>{{listing.winner}}</b></h3>
                {% endif %}
            </div>
        {% endif %}

    {% endif%}

{% endblock %}