{% extends 'conspi/home.html' %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 text-center"><br>
			<h1>{{country}}</h1><br>
			<h4>GlobCOVID true or false ANSWERS:</h4>
		</div>
		<div class="col-xs-10">
			{% for answer in answers %}
			<a href="{% url 'question' answer.question.id %}"><h5 class="text-info">Question {{ answer.question }}: {{ answer.question.title }}</h5></a>
			<li>Definitely True: {{ answer.definitely_true }} %</li>
			<li>Probably True: {{ answer.probably_true }} %</li>
			<li>Probably False: {{ answer.probably_false }} %</li>
			<li>Definitely False: {{ answer.definitely_false }} %</li>
			<li>Don't Know: {{ answer.dont_know }} %</li><br>
			{% endfor %}
		</div>
		<ol>
			<h5>Choose country:</h5>
			{% for country in countries %}
				<li><a href="{% url 'country' country.id %}">{{ country.name }}</a></li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}
