{% load static %}

<!DOCTYPE html>
<html lang="en">
<html>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Globalism 2020</title>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <style>
      .col-costom {
        position: relative;
        float: left;
        width: 20%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
      }
      @media only screen and (max-width: 600px) {
      .font-sm h4{
        font-size: 100%;
      }
}
    </style>
<body>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="collapsable-nav" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Globalism 2020</a>
        </div>
        <div id="collapsable-nav" class="navbar-collapse collapse">
          <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li id="navHomeButton" class="visible-xs active">
              <a href="index.html">
                <span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li class="dropdown"> 
              <ul class="dropdown-menu">
                <li><a href="{% url 'home' %}">Home</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'home' %}">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>
    
    <div class="container bg-faded col-xs-12 col-md-10 col-md-offset-1">
      <div class="text-center">
        <h1 class="text-primary">Globalism 2020 Guardian Conspiracy Theories Survey</h1>
        <h3>YouGov Cambridge</h3>
        <h4>Fieldwork Dates: 30th July - 24th August 2020</h4>
      </div>
      {% block content %}
      {% if the_country and answer and the_question %}
      <div class="col-sm-12">
        <hr>
        <div class="row">
          <h4 class="text-center"><span class="text-primary">Question {{ the_question }}:</span> {{ the_question.title }}</h4>
          <hr>
          <h3 class="text-center text-primary col-xs-12">{{ the_country }} </h3>

          {% for answer in answer %}
          <div class="col-costom font-sm">
            <h4>Definitely True:<br><br><b class="text-primary">{{ answer.definitely_true }} %</b></h4>
          </div>
          <div class="col-costom font-sm">
            <h4>Probably True:<br><br><b class="text-primary">{{ answer.probably_true }} %</b></h4>
          </div>
          <div class="col-costom font-sm">
            <h4>Probably False:<br><br><b class="text-primary">{{ answer.probably_false }} %</b></h4>
          </div>
          <div class="col-costom font-sm">
            <h4>Definitely False:<br><br><b class="text-primary">{{ answer.definitely_false }} %</b></h4>
          </div> 
          <div class="col-costom font-sm">
            <h4>Don't Know:<br><br><b class="text-primary">{{ answer.dont_know }} %</b></h4>
          </div> 
          {% endfor %}
        </div>
        <hr>
        <div class="row">
          <div class="col-costom">
            <h5>Definitely True:</h5>
            {% for answer in an_def_t %}
            {{ answer.country }}: <span class="text-primary">{{ answer.definitely_true }}%</span><br>
            {% endfor %}
          </div>
          <div class="col-costom">
            <h5>Probably True:</h5>
            {% for answer in an_pro_t %}
              {{ answer.country }}: <span class="text-primary">{{ answer.probably_true }}%</span><br>
            {% endfor %}
          </div>
          <div class="col-costom">
            <h5>Probably False:</h5>
            {% for answer in an_pro_f %}
              {{ answer.country }}: <span class="text-primary text-uppercase">{{ answer.probably_false }}%</span><br>
            {% endfor %}
          </div>
          <div class="col-costom">
            <h5>Definitely False:</h5>
            {% for answer in an_def_f %}
              {{ answer.country }}: <span class="text-primary">{{ answer.definitely_false }}%</span><br>
            {% endfor %}
          </div>
          <div class="col-costom">
            <h5>Don't know:</h5>
            {% for answer in an_do_kn %}
              {{ answer.country }}: <span class="text-primary">{{ answer.dont_know }}%</span><br>
            {% endfor %}
          </div>
        </div>
        <hr>
        </div>
        {% endif %}
        <div class="row">
          <hr>
          <div class="col-xs-12 text-center"><br>
            <h3 class="text-primary">Choose a country and the question to see the statement:</h3><br>

            <form method="post" action="{% url 'home' %}" id="forma" class="text-center">
              {% csrf_token %}
              <p class="col-xs-4 col-md-2 col-md-offset-3"><b>Counry: </b>{{ form.country}}</p>
              <p class="col-xs-4 col-md-2"><b>Question: </b>{{ form.question}}</p>
              <p class="col-xs-4 col-md-2 col-lg-3"><b>Direction: </b>{{ form.flow}}</p>
              <br>
              <br>
              <div class="col-xs-12 text-center">
                <input type="submit" value="Look up" class="btn-primary">
              </div>
            </form><br><br>
            <hr>
          </div>
          <h4 class="col-xs-12">ALL survey responses submitted by a country:</h4><br>
          <ol class="col-xs-2 col-xs-offset-1">
            {% for country in countries %}
              <li><a href="{% url 'country' country.id %}">{{ country.name }}</a></li>
            {% endfor %}
          </ol>
          <br>
      
          <ol class="col-xs-8 col-xs-offset-1">
            <h4>GlobCOVID true or false QUESTIONS:</h4><br>
            <h5>Click to see responses of ALL countries on one question:</h5>
            {% for question in questions %}
              <li><a href="{% url 'question' question.id %}">{{ question.title }}</a></li>
            {% endfor %}
          </ol>
          <br><br>
        </div>
        {% endblock %}
    </div>
</body>
</html>
