{% extends 'conspi/home.html' %}

{% block content %}
	<br>
	<a href="{% url 'question' previous %}" class="previous col-xs-3 col-sm-2 text-center btn-primary"><h6>&laquo; Previous question</h6></a>
	<a href="{% url 'question' nextt %}" class="next col-xs-3 col-xs-offset-6 col-sm-2 col-sm-offset-8 text-center btn-primary"><h6>Next question &raquo;</h6></a>
	<br><br><br>
	<div class="text-center">
		<h4>GlobCOVID true or false Answers:</h4>
		<h3><span class="text-primary">Question {{ question }}:</span> {{ question.title }}</h3>
	</div>
	{% for answer in answers %}
    	<div class="col-xs-6 col-sm-3 col-lg-2 col-lg-offset-0">
	    	<a href="{% url 'country' answer.country.id %}"><h4 class="text-info">{{ answer.country }}</h4></a>
	    	<li>Definitely True: {{ answer.definitely_true }} %</li>
	    	<li>Probably True: {{ answer.probably_true }} %</li>
	        <li>Probably False: {{ answer.probably_false }} %</li>
	        <li>Definitely False: {{ answer.definitely_false }} %</li>
	        <li>Don't Know: {{ answer.dont_know }} %</li><br>
	    </div>
    {% endfor %}

{% endblock %}