{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if the_categories %}
        <div class="text-center">
            <h2>Categories</h2>
            
            <ul class="nav">
                {% for category in the_categories %}
                    <li class="nav-item">
                        <h4><a class="nav-link" href="{% url 'category' category %}">{{ category }}</a></h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if category and categories %}
        <h3 class="text-center">{{ category }}:</h3>

        {% for item in categories %}
            {% if item.active == True %}
                <div class="container" id="listing_short_box">
                    <div class="row text-center">

                        <div class="col-md-5">
                            <img id="image" alt="Qries" src="{{ item.picture_URL }}" width=150" height="150">
                        </div>
                            
                        <div class="col-md-7">
                            <a href="{% url 'listing' item.id %}" class="nav-link">
                                <h3>{{ item.title }} {{ item.watched }}</h3></a>
                            <h6>{{ item.description }}</h6>

                            {% if item.last_bid %}
                                <h6><li class="list-group-item">Current Bid: <b>£{{item.last_bid.bid}}</b></li></h6>
                            {% else %}
                                <h6><li class="list-group-item">Initial Bid: <b>£{{item.start_bit}}</b></li></h6>
                            {% endif %}
                            
                            {% if time_now %}
                            <p><small>Created: {{ time_now|timeuntil:item.created_date }} ago.
                                ({{ item.created_date|date:"D d M Y" }})</small></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    {% endif %}

{% endblock %}